@import "./Variables.scss";

.App {
  height: 100%; width: 100%;
  text-align: center;
  display: grid;
  grid-template:  100% / 100px auto 30%;
}


.centralpanel{
  // background: blue;
  grid-area: 1 / 2 / 2 / 3;
  &::before{
    display:flex;align-items: center;
    position: relative; height: 50px; width: 100%;
    content: 'Home';
    padding: 1em;
    font-size: 1.3em;
    font-weight: 700;
    border: $page_borders_px solid $page_borders_color;
  }
}


// Tablet size
@media only screen and (max-width: 1024px) {
  .App{grid-template:  100% / 50px auto;}
}

// Mobile size
@media only screen and (max-width: 600px) {
  .App{display:flex; }
  .centralpanel{width: 100vw;}
}
