@import "./Variables.scss";

.sendmessage{
  height: auto;
    border: $page_borders_px solid $page_borders_color; border-top: none;
    padding: 1em;
    display: grid; grid-template: 100% / 60px auto;
    .picture{
      position: relative; height: auto; width: 100%;
      grid-area: 1 / 1 / 1 / 2;
      height: 50px; width: 50px; border-radius: 50%;
      background: $primary_color_light;
      img{height: 50px; width: 50px;border-radius: 50%;}
    }

  .top{
    padding-top: 0.7em;
    display: flex;
    .input{padding: 0; margin: 0;
      width: 100%;
      text-decoration: none;border:none;
      font-size: 1.3em;
      font-weight: 500;
      height: 73px;
      resize:none;
      &:focus{outline:none; text-decoration: none;}
    }
  }
  .bottom{
    display : flex;
    justify-content: space-between; align-items:flex-start;
    .addingmedia{
      .input{ padding: 0; margin: 0;
        width: 100%;
        text-decoration: none;border:none; color: rgb(112, 112, 112);
        &:focus{outline:none; text-decoration: none;}
        margin-bottom: 10px;
      }
      img{border-radius: 20px;max-height: 400px; max-width: 500px; }
      .text{font-size: 0.8em; font-weight: 900; color: $primary_color; text-align:left;}
      // .media{width: 40px; margin-right: 2px;}
    }
  }
}

@media only screen and (max-width: 620px) {
  .sendmessage{
  .top{
    .input{height: 121px;}
  }}
  .bottom{flex-direction:column;
      .button{margin-top: 5px; right:0; align-self: flex-end;}
    }
}