@import "./Variables.scss";

.sendmessage{
  height: auto;
    border: $page_borders_px solid $page_borders_color; border-top: none;
    padding: 1em;
    display: grid; grid-template: 100% / 10% 90%;
    .picture{
      position: relative; height: auto; width: 100%;
      grid-area: 1 / 1 / 1 / 2;
      height: 50px; width: 50px; border-radius: 50%;
      background: grey;
    }

  .top{
    padding-top: 0.7em;
    display: flex;
    .input{
      width: 100%;
      text-decoration: none;border:none;
      font-size: 1.3em;
      font-weight: 500;
      height: auto;
      resize:none;
      &:focus{outline:none; text-decoration: none;}
    }
  }
  .bottom{
    display : flex;
    justify-content: space-between;
    .addingmedia{
      .media{width: 40px; margin-right: 2px;}
    }
  }
}